.usericon {
  width : 35px;
  height : 35px;
  border-radius: 100%;
  float : left;
}
  
.post {
  
  &_new_header {
    margin-top : 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom : 20px;
  }

  &_new_button {
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
    color: #BDBDBD;
    font-size : 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  &_username {
    position: relative;
    top : 3px;
    left: 10px;
    font-style: normal;
    font-size: 18x;
  }

  &_content_form {
    width: 100%;
    border: none;
    font-style: normal;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    margin-top :20px;
  }  
}

.cance_button {
  text-decoration : none;
  color: #2F80ED;
}

.status_button {
  font-style: normal;
  font-weight : bold;
  font-size: 16px;
}

.images_input_btn {
  display: block;
  width: 73px;
  height: 30px;
  margin-top: 5px;
  padding-top: 1px;
  color: white;
  text-align: center;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
}

.images_form_name {
  color: #4F4F4F;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: auto 0;
  padding-bottom: 15px;
} 

.images_form {
  display: none;
}